{% extends 'exam/navbar.html' %}
{% load static %}
{% load notification_tags %}

{% block custom_css %}
<style>
  .notification-bell {
    position: relative;
    cursor: pointer;
  }
  .notification-badge {
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 0.7rem;
    padding: 0.25em 0.6em;
  }
</style>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/student-dashboard">Online Examination System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'student_exam' %}">Exams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'student_marks' %}">Marks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'view_hall_ticket' %}">Hall Ticket</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link notification-bell" href="#" id="notificationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-bell"></i>
            {% notification_badge request.user %}
          </a>
          {% recent_notifications request.user %}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a href="{% url 'student_dashboard' %}" class="list-group-item">Dashboard</a>
        <a href="{% url 'student_exam' %}" class="list-group-item">Available Exams</a>
        <a href="{% url 'student_marks' %}" class="list-group-item">View Marks</a>
        <a href="{% url 'view_hall_ticket' %}" class="list-group-item">Hall Ticket</a>
        <a href="{% url 'view_result' %}" class="list-group-item">View Results</a>
      </div>
    </div>
    <div class="col-md-9">
      {% block dashboard_content %}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
